.topbar {
    display: flex;
	justify-content: space-between; 
    min-height: 5rem;
	background-color: rgb(61, 60, 60);
}
.logo {
    height: 1.5em;
    width: 1.5em;
    font-size: 25px;
    justify-self:center;
    align-self: center;
	text-align: center;
    background-color:rgb(255, 106, 0);
    border-radius: 50%;
    margin-left: 25px;
}
.company{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    color: azure;
    text-align: center;
}
.btn{
    display:flex;
    width: 4.2em;
    height:4.2em;
    flex-direction: column;
    align-self: center;
    opacity: 50%;
    margin-right: 10px;
}

.line{
    align-items: center;
    background-color: rgb(61, 57, 57);
    width: 2em;
    height: 0.5em;
    margin: 0.5em;
}